<%@ page import="com.smanggin.Department" %>

				<%
if(actionName=='edit' || actionName=='show') { 
%>
<div class="easyui-tabs table" style="height:300px">
    
    
    
    
        
    
        
    
        
    
        
    
</div>



    

    

    

    


<%
}
%>
