<%@ page import="com.smanggin.GlobalService" %>
<%
    def globalService = grailsApplication.classLoader.loadClass('com.smanggin.GlobalService').newInstance()
%>
<div class="box-header with-border">
	<div class="row">					
      <div class="col-sm-8">
      		<h3 class="box-title"><g:message code="default.show.label" args="[entityName]" /></h3>
      </div>
      <div class="col-sm-4">
      	<table class="table table-bordered no-margin">
      		<thead>
      			<tr>
      				<td colspan="2"><b>Document Status</b> : ${fieldValue(bean: FAPInstance, field: "state")}</td>	
      			</tr>	
      			<tr>
      				<td><b>Approver</b> : </td>
      				<td><b>Approval Status</b></td>
      			</tr>
      			
      		</thead>
      		<tbody>
      			<g:each in="${FAPInstance.fAPApprovers.sort{ it.noSeq}}" status="i" var="approver">
          			<tr>
          				<td>${approver.noSeq} . ${approver.approver}</td>
          				<td>${globalService.approvalStatus(approver.status)}</td>	
          			</tr>
      			</g:each>	
      		</tbody>
      	</table>
      </div>
     </div> 
</div><!--/.box-header with-border -->	