
<%@ page import="com.smanggin.InformationPeriod" %>
<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="layout" content="kickstart" />
	<g:set var="entityName" value="${message(code: 'informationPeriod.label', default: 'InformationPeriod')}" />
	<title><g:message code="default.show.label" args="[entityName]" /></title>
	<g:set var="canEdit" value="true" scope="request" />
</head>

<body>

<section id="show-informationPeriod" class="first">
	<div class="row">
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box-header with-border">
                  <h3 class="box-title"><g:message code="default.show.label" args="[entityName]" /></h3>
                </div><!--/.box-header with-border -->	
                <div class="box-body table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr class="prop">
								<td valign="top" class="name"><g:message code="informationPeriod.name.label" default="Name" /></td>
								
								<td valign="top" class="value">${fieldValue(bean: informationPeriodInstance, field: "name")}</td>
								
							</tr>
						
							<tr class="prop">
								<td valign="top" class="name"><g:message code="informationPeriod.startDate.label" default="Start Date" /></td>
								
								<td valign="top" class="value"><g:formatDate date="${informationPeriodInstance?.startDate}" /></td>
								
							</tr>
						
							<tr class="prop">
								<td valign="top" class="name"><g:message code="informationPeriod.endDate.label" default="End Date" /></td>
								
								<td valign="top" class="value"><g:formatDate date="${informationPeriodInstance?.endDate}" /></td>
								
							</tr>
						
							
							<tr class="prop">
								<td valign="top" class="name"><g:message code="informationPeriod.position.label" default="Position" /></td>
								
								<td valign="top" class="value">${informationPeriodInstance?.position?'Top':'Bottom'}</td>
								
							</tr>
						
							

							<tr class="prop">
								<td valign="top" class="name"><g:message code="informationPeriod.createdBy.label" default="Created By" /></td>
								
								<td valign="top" class="value">${fieldValue(bean: informationPeriodInstance, field: "createdBy")}</td>
								
							</tr>
						
						</tbody>
					</table>
				</div><!--/.row -->
				<div class="box-footer clearfix">
						
				</div><!--/.box-footer clearfix -->
			</div><!--/.box-body table-responsive -->

			<g:render template="detail"/> 
		</div><!--/.box box-primary -->
	</div><!--/.row -->
</section>

</body>

</html>
